<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <nav class="nav-main">
      <ul>
        <li class="logo-m hvr-underline-reveal"><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/">about</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/data/">data</a></li>
        <li class="logo-p"><a class="logo-fs hvr-ripple-out" href="{{ site.baseurl }}/">CLD</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/legislator/">legislatoR</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/contribute/">contribute</a></li>
      </ul>
  </nav>

  <div class="container content">
    <main>
      {{ content }}
    </main>

    {% include footer.html %}

  </div>



</body>
</html>
